<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account activated</title>
    <style>
        .account-created-page{
            width: 100%;
            min-height: 300px;
            font-family: 'Courier New', Courier, monospace;
            border: 1px solid black;
            border-radius: 2px;
            padding: 5px;
            box-sizing: border-box;
        }
        .account-created-content{
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 1px;
        }
        .website-link{
            font-size: 1em;
            color: rgb(7, 7, 168);
        }
        .account-created-header{
            text-align: center;
            color: white;
            font-weight: bold;
            padding:10px 20px;
            background-color: rgb(117, 17, 211);
        }
        .account-created-footer{
            text-align: start;
            padding: 5px;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="account-created-page">
        <div class="account-created-header">
            <h3>Welcome to our Libraricals Resume</h3>
        </div>
        <div class="account-created-content">
            <p>Hello Mr/Miss, <%= user.name %>,</p>
            <p>keep your password => [<%= user.password %>]</p>
            <p>Thanks you for reset your account password.</p>
            <h3 class="website-link"><a href="#" target="_blank">Visit our website to login.</a></h3>
        </div>
        <div class="account-created-footer">
            <p>If you have any question, please don't forgot to contact us at <a href="mailto:softwares@engineer.com">softwares@engineer.com</a></p>
        </div>
    </div>
</body>
</html>